/* font related style */
.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.hide{
    display: none;
}
/* shared style */
.primary-color{
    color: #FF5400;
}

/* header related style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
}
.nav-header{
    display: flex;
    gap: 17px;
}
.nav-header h3{
    color: #131318;
    font-size: 2.2rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color:  #424247;
    font-size: 1.2rem;
}


/* banner related style */
.banner-section{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    margin: 50px 135px;
    text-align: center;
    height: 500px;
    border-radius: 16px;
    padding: 60px 200px;
}
.banner-section h3{
    color: #FFF;
    font-size: 4rem;
}
.banner-section p{
    color: #FFF;
    font-size: 1rem;
}
.btn-section{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
}
.btn-section button{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
    background: #FFF;
    padding: 20px;
    border: none;
    width: 170px;
    height: 50px;
}
.btn-section .k{
    background: #FF5400;
    color:#FFF;
}

/* main section related style */
/* tour section */
.tour-section{
    display: flex;
    margin: 0px 135px;
    gap: 60px;
}
.tour-contant{
    padding: 0px;
}
.tour-contant h3{
    color: #131318;
    font-size: 2.2rem;
}
.tour-contant p , li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    margin-top: 10px;
}
.tour-contant button , .btn-primary{
    font-size: 1rem;
    border-radius: 8px;
    padding: 20px;
    border: none;
    width: 170px;
    height: 50px;
    background: #FF5400;
    color:#FFF;
}

/* destination section */
.destination-section{
    text-align: center;
    margin: 100px 135px;
}
.destination-section img{
    width: auto;
}
.destination-section h2{
    color: #131318;
    font-size: 2.3rem;
}
.destination-section p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}
.frist-div , .second-div , .third-div{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

/* chose section related style */
.chose-section{
    margin: 0 135px;
    text-align: center;
}
.chose-section h3{
    color: #131318;
    font-size: 2.3rem;
}
.chose-section p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}
.card-section{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.card{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.card img{
    height: 64px;
    width: 64px;
}
.card h4{
    color: #131318;
    font-size: 1.5rem;
}
.card p{
    color: #5A5A5D;
    font-size: 1rem;
}
#card-3{
    width: 50%;
    margin:24px auto;
}
#card-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);


}

/* discount card related style */
.discount-section{
    margin: 100px 135px;
    text-align: center;

}
.discount-main-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.discount-section h3{
    color: #131318;
    font-size: 2.3rem;
}
.discount-section p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}
.discount-section button{
    margin-top: 60px;
}
.discount-contant{
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    height: 500px;
}
.discount-card{
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    width: 50%;
    text-align: start;
    position: relative;
    left: 370px;
    top: 50px;
}
/* form-section */
.form-section{
    display: flex;
    margin: 100px 135px;
    gap: 24px;
}
.form-section h4{    
    color: #131318;
    font-size: 1.5rem;
}
.form-section p{    
    color: #5A5A5D;
    font-size: 1rem;
}
.form-section input {    
    margin-top: 24px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 20px 100px 20px 20px;
}
.form-form{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
#btn{
    margin-top: 24px;
}
.img-div h5{
    color: #FFF;
    font-size: 1.5rem;
}
.img-div h3{
    color: #FFF;
    font-size: 2rem;
}
/* footer related style */
footer{
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 110px 300px;
}
.place-contant{
    display: flex;
    margin: auto 135px;
    gap: 30px;
}
.footer-img img{
    height: 24px;
    width: 24px;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.footer-h3{
    display: flex;
    justify-content: center;
}
footer p{
    color: #5A5A5D;
    font-size: 1rem;
}

/* responsive for mobail debvice */
@media screen and (max-width:576px) {
    main{
        padding: 0;
        margin: 10px;
    }
    header{
        margin: 0;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        margin: 0;
    }
    nav ul{
        margin: 20px none;
        padding: 0px;
        gap: 5px;
    }
    .banner-section{
        margin: 0;
        padding: 20px 10px;
        object-fit: cover;
   
    }
    .btn-section{
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .banner-section h3 {
        font-size: 2rem;
    }
    .tour-section {
        flex-direction: column;
        padding: 10px;
        margin: 0px;
    }
    .destination-section{
        padding: 0;
        margin: 0;
    }
    .frist-div, .second-div, .third-div{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
        margin-top: 10px;
    }
    .chose-section{
        margin: 0px;
        padding: 10px;
    }
    .card-section{
        flex-direction: column;
    }
    #card-3 {
        width: 100%;
    }
    .card{
        padding: 0;
    }
    .discount-section {
        margin: 0px;
        padding: 0px;
    }
    .discount-main-section{
        flex-direction: column;
    }
    .discount-card{
        position: relative;
        padding: 20px;
        left: 150px;
        top: 100px;
    }
    .place-contant{
        flex-direction: column;
        margin: 0px;
        gap: 10px;
        padding: 10px;
    }
    .form-section{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .img-div img{
        padding: 0;
        margin: 0;
        width: 200px;
    }
    footer{
        padding: 10px;
        margin: 0;
    }
}





/*  */
@media screen and (min-width:576px) and (max-width:992px) {
    main{
        margin: 20px;
        padding: 0px;
    }
    nav{
        margin: 0;
    }
    nav ul{
        gap: 20px;
    }
    .banner-section{
        margin: 0;
        padding: 100px;
        object-fit: cover;
    }
    .btn-section{
        margin: 0;
        padding: 0;
    }
    .banner-section h3 {
        font-size: 2rem;
    }
    .tour-section {
        flex-direction: column;
        padding: 10px;
        margin: 0px;
    }
    .destination-section{
        padding: 0;
        margin: 0;
    }
    .frist-div, .second-div, .third-div{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 15px;
        margin-top: 10px;
    }
    .chose-section{
        margin: 0px;
        padding: 10px;
    }
    .card-section{
        flex-direction: column;
    }
    #card-3 {
        width:auto;
        padding: 20px;
    }
    .card{
        padding: 20px;
    }
    .card{
        padding: 0;
    }
    .discount-section {
        margin: 0px;
        padding: 0px;
    }
    .discount-main-section{
        flex-direction: column;
    }
    .discount-card{
        position: relative;
        padding: 20px;
        left: 360px;
        top: 150px;
    }
    .place-contant{
        flex-direction: column;
        margin: 0px;
        gap: 10px;
        padding: 10px;
    }
    .form-section{
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }
    .img-div img{
        padding: 0;
        margin: 0;
        width: auto;
    }
    footer{
        padding: 30px;
        margin: 0;
    }
}